li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 30px;
  }
  
.in-quiz-button {
    padding: 50px;
}

  .take-quiz-container {
    max-width: 500px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 4px;
    padding: 30px 60px;
    justify-content: center;
  }
  
  .take-quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #800080;
  }
  
  .take-quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
  }
  
  .take-quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  
  .take-quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
  }
  
  .take-quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .take-quiz-container ul .selected-answer {
    background: #ffd6ff;
    border: 1px solid #800080;
  }
  
  .take-quiz-container button {
    color: white;
    background-color: #FF2D46;
    border-radius: 9px;
    font-size: 18px;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .take-quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
  }
  
  .flex-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  
  .result p {
    font-size: 16px;
    font-weight: 500;
  }
  
  .result p span {
    color: #800080;
    font-size: 22px;
  }
  .flex-left {
      display: flex;
      justify-content: flex-start;
    }
  